.custom-font-bookmarks {
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 1%;
}

.custom-bg-button {
    border-color: black; 
    color: black; 
    background-color: white;
}