.custom-preview-decoration {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.btn-format {
    background-color: #A020F0;
    border-color: #A020F0;
    margin: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
}

.first-body {
    padding-bottom: 0;
}

.second-body {
    padding-top: 0;
    padding-bottom: 0;
}

.custom-link {
    font-size: 18px;
}

.other-description {
    font-size: 14px;
}

.other-description-info {
    font-weight: bold;
}

.fixed-image {
    /* width: 414px; */
    height: 250px; 
    object-fit: cover; 
}

.fixed-card {
    height: 410px;
}